body {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-family: "Handlee", serif;
  font-style: normal;
}
.root{
  width: 100%;
}

h1 {
  font-weight: 400;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.homepage {
  display: flex;
  justify-content: space-between;
}

.homepage button {
  font-family: "Handlee", serif;
  margin: 0 20px 10px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}

.searchinputs {
  background-color: #EDECE4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchinputs h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.searchboxes {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
  gap: 30px;
}

.searchboxes select {
  font-family: "Handlee", serif;
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}

.searchboxes button {
  font-family: "Handlee", serif;
  margin: 0;
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}